#app .state-absent {
  background-color: var(--color-state-absent);
  color: var(--color-text-main);
}

#app .state-correct {
  background-color: var(--color-state-correct);
  color: var(--color-text-main);
}

#app .state-elsewhere {
  background-color: var(--color-state-elsewhere);
  color: var(--color-text-main);
}